@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 9%;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgb(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.header .logo {
  font-size: 20px;
  color: var(--black);
}

.header .logo i {
  color: darkred;
}
